<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SprintDesign</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!-- Header -->
		<header>
			<div class="navbar">
				<!-- Name of the site, you can put your logo here -->
				<div class="logo">
					<h1>SprintDesign</h1>
				</div>
				<!-- Buttons -->
				<div class="buttons">
					<%= button_to "Home", "https://sprintdesign.herokuapp.com", :method => :get, form: {target: '_blank'}, :class => "btn btn-1 center" %>
					<%= button_to "Link2", "https://sprintdesign.herokuapp.com", :method => :get, form: {target: '_blank'}, :class => "btn btn-1 center" %>
					<%= button_to "Link3", "https://sprintdesign.herokuapp.com", :method => :get, form: {target: '_blank'}, :class => "btn btn-1 center" %>
	    		</div>
				<!-- Personal Info -->
				<div class="name">
					<a href="https://github.com/AniMoure">Anisoara</a>
				</div>
				<div class="info">
					<%= link_to image_tag('avatar.png', :class => "img_avatar", :alt => "Octodex Cat"), "https://github.com/AniMoure" %>
				</div>
			</div>
				<!-- End of navbar -->
		</header>

		<!-- Content -->
		<section class="about">
			<div class="content">
				<div class="parag elem">
					<h3><strong>Miss Click</strong>, Designer UX, UI</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque odit facilis cumque unde voluptatem, dolor expedita et optio repellendus, deserunt necessitatibus aut corporis vel similique dolore nostrum fuga culpa laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quia similique commodi culpa nostrum voluptatibus. Quas tempore laudantium, error, neque debitis, blanditiis fugiat corporis quam, eligendi aspernatur mollitia magnam quasi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor blanditiis mollitia vel repellendus, saepe voluptatibus perferendis sunt animi iusto illum ullam, deserunt qui est consequuntur, molestias assumenda quos cum accusamus?</p>
					<ul>
						<li>Nom: Miss Click</li>
						<li>E-mail: <a href="mailto:miss@click.com">miss@click.com</a></li>
						<li>Telephone: +33(6) 123 45 678</li>
					</ul>
					<div class="social-networks">
						<%= link_to image_tag('github2.svg', :alt => "Avatar Github"), "https://github.com/AniMoure" %>
						<%= link_to image_tag('twitter2.svg', :alt => "Avatar Twitter"), "https://twitter.com/Anisoar64561804" %>
					</div>
				</div>
	 			<div class="image elem">
	 				<%= image_tag('photo.jpg', :class => "picture") %>
	 			</div>
			</div>
		</section>
		<!-- Realisations -->

		<div class="contenu">
			<h2 id="cards">Some text here</h2>
				<div class="hover column">
					<div>
						<figure><%= image_tag('img_avatar1.png') %></figure>
						<span>Jane Doe - Architect</span>
					</div>
					<div>
						<figure><%= image_tag('img_avatar3.png') %></figure>
						<span>John Doe - Designer</span>
					</div>
					<div>
						<figure><%= image_tag('img_avatar2.png') %></figure>
						<span>Janine Doe - WebDev</span>
					</div>
				</div>
		</div>

		<!-- Footer -->
  	<footer>
	    <div class="footer">
	      <p>Copyright Miss Click - All Rights Reserved</p>
	      <ul>
	        <li><a href="https://github.com/AniMoure">Github</a></li>
	        <li><a href="https://twitter.com/Anisoar64561804">Twitter</a></li>
	      </ul>
	    </div>
  	</footer>
	</body>
</html>